@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #464646; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1150px;
  height: 100%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px; }
  @media (max-width: 745px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.header {
  width: 100%;
  background: #ffffff;
  background-size: cover;
  color: #464646; }
  .header__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0; }
  .header__list {
    margin: -100px 0 0 0;
    padding: 0 20px; }
  .header__link {
    color: #464646;
    text-decoration: none;
    font-size: 16px;
    line-height: 12px;
    margin: 0; }
    .header__link--line {
      padding: 5px 0;
      position: relative;
      overflow: hidden;
      transition: .3s; }
      .header__link--line:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 0;
        bottom: 0;
        height: 3px;
        background: #0474bc; }
      .header__link--line:hover {
        cursor: pointer; }
        .header__link--line:hover:after {
          width: 100%;
          left: 0; }

.jumbo {
  width: 100%;
  background: linear-gradient(to right, #0474bc 0%, #0474bc 18%, #1f83ce 50%, #2a89d5 63%, #499bea 100%);
  padding: 150px 0;
  text-align: center; }
  .jumbo__title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400; }

.section__title {
  font-size: 24px;
  font-weight: 400; }
  .section__title::before, .section__title::after {
    content: "";
    display: inline-block;
    width: 150px;
    height: 2px;
    margin: 0 10px;
    background: #464646;
    vertical-align: middle; }
    @media (max-width: 525px) {
      .section__title::before, .section__title::after {
        width: 50px; } }
  .section__title::before {
    margin-right: 50px; }
    @media (max-width: 525px) {
      .section__title::before {
        margin-right: 20px; } }
  .section__title::after {
    margin-left: 50px; }
    @media (max-width: 525px) {
      .section__title::after {
        margin-left: 20px; } }

.boxes {
  width: 100%;
  background: #ffffff;
  padding: 90px 0 0 0;
  text-align: center; }
  .boxes__set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 65px 0 90px 0; }
    @media (max-width: 1100px) {
      .boxes__set {
        justify-content: center; } }
  .boxes__item {
    background: #dedede;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: left; }
    @media (max-width: 1100px) {
      .boxes__item {
        margin: 10px; } }

.filter {
  width: 100%;
  background: #ffffff;
  text-align: center; }

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 55px 0;
  list-style: none; }
  .filters__item {
    margin: 5px; }
  .filters__link {
    display: block;
    padding: 0 15px;
    border-radius: 5px;
    border: 1.5px solid #0474bc;
    color: #0474bc;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
    transition: color 0.5s ease, background 0.5s ease; }
    .filters__link:hover {
      background: #0474bc;
      color: #ffffff; }
    .filters__link--active {
      background: #0474bc;
      color: #fff;
      border-radius: 5px;
      border: 1.5px solid #0474bc; }

.portfolio__list {
  list-style: none;
  padding: 0 0 150px 0;
  margin: 0; }

.portfolio__item {
  padding: 5px;
  width: 25%; }

.portfolio__img {
  display: block;
  max-width: 100%; }

.grid-sizer {
  width: 25%; }

.footer {
  width: 100%;
  background: #1a1a1a;
  color: #ffffff;
  font-weight: 300;
  text-align: left; }
  .footer__info {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 120px 0; }
    @media (max-width: 780px) {
      .footer__info {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center; } }
  @media (max-width: 780px) {
    .footer__text {
      padding: 20px 0; } }
  .footer__logo {
    margin: 0; }
  .footer__desc {
    width: 300px;
    margin: 0 0 0 10px;
    font-weight: 300; }
  .footer__more {
    padding: 0 0 0 30px; }
    @media (max-width: 780px) {
      .footer__more {
        padding: 20px 0; } }
  .footer__title {
    font-size: 24px;
    margin: 0 0 20px 10px;
    text-transform: uppercase; }
  .footer__line {
    background: #ffffff;
    position: relative;
    width: 165px;
    height: 2px;
    margin: -15px 0 15px 10px; }
    .footer__line:before {
      content: '';
      background: #0474bc;
      width: 50%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0; }
  .footer__links {
    display: flex; }
    @media (max-width: 780px) {
      .footer__links {
        padding: 20px 0; } }
  .footer__link {
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    border: 1.5px solid #ffffff; }
    .footer__link:hover {
      color: #0474bc;
      background: #ffffff;
      transition: color 0.5s ease, background 0.5s ease; }
    .footer__link--blue {
      color: #0474bc;
      border: 1.5px solid #0474bc; }
      .footer__link--blue:hover {
        color: #ffffff;
        background: #0474bc;
        transition: color 0.5s ease, background 0.5s ease; }

button.accordion {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.4s; }
  button.accordion::before {
    content: '\25B8'; }

div.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

/*# sourceMappingURL=main.css.map */
